# Environment variables for the application
PORT=3000

# Origins you want to allow
ALLOWED_ORIGINS=https://animedub.gt.tc/,https://animedub.kesug.com/
# Optional for caching
#REDIS_URL=redis://your-redis-host:port
#REDIS_PASSWORD=your_redis_password
